!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title JSNES: A JavaScript NES emulator
  %body
    %h1 JSNES
    #emulator
    %h2 Controls
    %table#controls
      %tr
        %th Button
        %th Key
      %tr
        %td A
        %td X
      %tr
        %td B
        %td Z/Y
      %tr
        %td Start
        %td Enter
      %tr
        %td Select
        %td Ctrl
